{# profile/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	{% include 'header.html.twig' %}
	<div class="container-fluid text-center">
		<div class="row justify-content-center">
			<form class="col-3 row justify-content-center" method="post" action="{{ path('app_profile_edit', { 'id': user.id }) }}">
				<div class="col-auto mb-3">
					<div class="input-group">
						<span class="label-formularop">Cuantas personas van a asistir:</span>
						<select class="form-select form-control" name="numero_personas" id="numero_personas" aria-label="Cuantas personas van a asistir">
							{% for i in 1..10 %}
								<option value="{{ i }}">{{ i }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-auto mb-3">
					<button class="btn btn-dark btn-block mb-3" type="submit">Aceptar</button>
				</div>
			</form>
		</div>
    </div>
	{% endblock %}
