{% extends 'base_videos.html.twig' %}

{% block title %}Enlace cony i miguel - perfil
{% endblock %}

{% block body %}
<style>
    #myVideo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        display: none;
    }
    #aviso-orientacion-vertical {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        font-size: 24px;
    }
</style>

<div id="aviso-orientacion-vertical">
    Por favor, gire su dispositivo a la orientación vertical para ver el contenido.
</div>

<video id="myVideo" muted playsinline>
    <source src="{{ asset('build/videos/fondo.mp4') }}" type="video/mp4">
    Tu navegador no soporta el elemento de video.
</video>

<script>
    const avisoOrientacionVertical = document.getElementById('aviso-orientacion-vertical');
    const myVideo = document.getElementById('myVideo');

    function verificarOrientacion() {
        if (window.innerHeight > window.innerWidth) {
            avisoOrientacionVertical.style.display = 'flex';
            myVideo.style.display = 'none';
        } else {
            avisoOrientacionVertical.style.display = 'none';
            myVideo.style.display = 'block';
            myVideo.play();

            setTimeout(() => {
                myVideo.pause();
                // Redirige a la ruta especificada después de que el video termine
                window.location.replace('{{ path('app_home') }}');
            }, 44000); // 44 segundos en milisegundos
        }
    }

    window.addEventListener('orientationchange', verificarOrientacion);
    window.addEventListener('resize', verificarOrientacion);
    verificarOrientacion(); // Llama a la función al cargar la página para verificar la orientación inicial
</script>
{% endblock %}
