{% extends 'base_videos.html.twig' %}

{% block title %}Enlace cony i miguel - perfil
{% endblock %}

{% block body %}
<div id="aviso-orientacion-vertical" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: flex; flex-direction: column; align-items: center; justify-content: center; color: white; font-size: 24px;">
    Por favor, toque la pantalla para continuar.
</div>
<video id="myVideo" muted playsinline>
    <source src="{{ asset('build/videos/fondo.mp4') }}" type="video/mp4">
    Su navegador no es compatible con video HTML5.
</video>

<script>
    const avisoOrientacionVertical = document.getElementById('aviso-orientacion-vertical');
    const myVideo = document.getElementById('myVideo');
    let isTouched = false;

    function isMobile() {
        return /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
    }

    function handleOrientationChange() {
        if (isMobile() && window.innerHeight > window.innerWidth) {
            avisoOrientacionVertical.style.display = 'flex';
            myVideo.pause();
        } else if (isTouched) {
            avisoOrientacionVertical.style.display = 'none';
            myVideo.play();

            setTimeout(() => {
                myVideo.pause();
                // Redirige a la ruta especificada
                window.location.href = '{{ path('app_home') }}'; // Asegúrate de que '{{ path('app_home') }}' se evalúe correctamente en tu entorno
            }, 44000); // 44 segundos en milisegundos
        }
    }

    function reloadPage() {
        window.location.reload();
    }

    window.addEventListener('touchstart', () => {
        isTouched = true;
        avisoOrientacionVertical.innerHTML = 'Toque nuevamente para recargar la página.';
        avisoOrientacionVertical.appendChild(document.createElement('br'));
        const reloadButton = document.createElement('button');
        reloadButton.innerHTML = 'Recargar Página';
        reloadButton.onclick = reloadPage;
        avisoOrientacionVertical.appendChild(reloadButton);
    });

    window.addEventListener('orientationchange', handleOrientationChange);
    handleOrientationChange(); // Llama a la función al cargar la página para verificar la orientación inicial
</script>
{% endblock %}
