{% extends 'base_videos.html.twig' %}

{% block title %}Enlace cony i miguel - perfil
{% endblock %}

{% block body %}
	<div class="container-fluid text-center"></div>
	<script>
    const avisoOrientacionVertical = document.getElementById('aviso-orientacion-vertical');
    const myVideo = document.getElementById('myVideo');

    function isiOS() {
        return /iPhone|iPad|iPod/i.test(navigator.userAgent);
    }

    function isAndroid() {
        return /Android/i.test(navigator.userAgent);
    }

    window.addEventListener('orientationchange', () => {
        if (isiOS() || isAndroid()) {
            if (window.orientation === 0 || window.orientation === 180) {
                // Orientación vertical
                avisoOrientacionVertical.style.display = 'block';
                myVideo.pause(); // Pausa el video si está reproduciéndose
            } else {
                // Orientación horizontal
                avisoOrientacionVertical.style.display = 'none';
                myVideo.play(); // Reproduce el video si está pausado
            }
        }
    });

    setTimeout(() => {
        myVideo.pause(); // Detiene el video después de 44 segundos
        // Redirige a la ruta especificada
        window.location.href = '{{ path('app_home') }}'; // Asegúrate de que '{{ path('app_home') }}' se evalúe correctamente en tu entorno
    }, 44000); // 44 segundos en milisegundos
</script>
{% endblock %}
