{% extends 'base_videos.html.twig' %}

{% block title %}Enlace cony i miguel - perfil
{% endblock %}

{% block body %}
	<div class="container-fluid text-center"></div>
	<script>
    const avisoOrientacionVertical = document.getElementById('aviso-orientacion-vertical');
    const myVideo = document.getElementById('myVideo');

    function isMobile() {
        return /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
    }

    function isPortrait() {
        return window.innerHeight > window.innerWidth;
    }

    function playVideoAndRedirect() {
        avisoOrientacionVertical.style.display = 'none';
        myVideo.play();

        setTimeout(() => {
            myVideo.pause();
            // Redirige a la ruta especificada
            window.location.href = '{{ path('app_home') }}'; // Asegúrate de que '{{ path('app_home') }}' se evalúe correctamente en tu entorno
        }, 44000); // 44 segundos en milisegundos
    }

    if (isMobile()) {
        window.addEventListener('orientationchange', () => {
            if (isPortrait()) {
                avisoOrientacionVertical.style.display = 'block';
            } else {
                playVideoAndRedirect();
            }
        });
    } else {
        // Si no es un dispositivo móvil, reproduce el video y redirige después de 44 segundos sin esperar la orientación
        playVideoAndRedirect();
    }
</script>
{% endblock %}
