{% extends 'base_videos.html.twig' %}

{% block title %}Enlace cony i miguel - perfil
{% endblock %}

{% block body %}
	<div class="container-fluid text-center"></div>
	<script>
    const avisoOrientacionVertical = document.getElementById('aviso-orientacion-vertical');
    const myVideo = document.getElementById('myVideo');

    let videoTimeout;

    function reproducirVideo() {
        myVideo.play();
        videoTimeout = setTimeout(function() {
            myVideo.pause();
            avisoOrientacionVertical.style.display = 'block';
            // Redirigir a path('app_home') después de 44 segundos
            setTimeout(function() {
                window.location.href = '{{ path('app_home') }}';/ // Reemplaza 'path("app_home")' con la ruta real
            }, 44000);
        }, 44000); // Detener después de 44 segundos (44000 milisegundos)
    }

    window.addEventListener('orientationchange', () => {
        if (window.orientation === 0 || window.orientation === 180) {
            // Orientación vertical
            clearTimeout(videoTimeout); // Limpiar el temporizador si el dispositivo se gira antes de que se detenga el video
            avisoOrientacionVertical.style.display = 'block';
            myVideo.pause();
        } else {
            // Orientación horizontal
            avisoOrientacionVertical.style.display = 'none';
            reproducirVideo();
        }
    });

    // Llama a la función para reproducir el video cuando se carga la página
    reproducirVideo();
</script>
{% endblock %}
