{% extends 'base.html.twig' %}

{% block title %}Enlace cony i miguel{% endblock %}

{% block body %}
<div class="container-fluid">
<h1 class="text-center">¡Bienrenid@s <br/>invitados!</h1>
<h1 class="text-center">Cony i Miguel</h1>
</div>

{% endblock %}
