{% extends 'base.html.twig' %}

{% block title %}Enlace cony i miguel{% endblock %}

{% block body %}
<div class="container-fluid">
<h1 class="text-center">¡Bienrenid@s &emsp; &emsp; &emsp;  <br/>  &emsp; &emsp; &emsp; invitados!</h1>
<h1 class="text-center">Cony & Miguel</h1>
<div class="container-fluid">
{% if error is defined %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('app_login') }}" method="post">
            <div class="form-group mb-3">
             <input class="form-control" type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Correo electrónico">
          </div>
          <div class="form-group mb-3">
    <input class="form-control" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Contraseña">
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >       <div class="d-grid gap-1">
           <button class="btn btn-dark btn-block" type="submit">Entrar</button>
           </div>
        </form>

</div>
</div>

{% endblock %}
