{% extends 'base.html.twig' %}

{% block title %}Enlace cony i miguel{% endblock %}

{% block body %}
<div class="container-fluid">
<h1 class="text-center">¡Bienrenid@s <br/>invitados!</h1>
<h1 class="text-center">Cony & Miguel</h1>
<h2 class="text-center"> sitios web en construcción  </h2>
</div>

{% endblock %}
