@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
    font-family: Edwardian;
    src: url('/assets/fonts/ITCEDSCR.TTF');
}
@font-face {
    font-family: Livvic;
    src: url('/assets/fonts/Livvic-Light.ttf');
}
body {
    background-color: lightgray;
}
.bg {
    background: url('/assets/images/IAX10-0027.jpg' );
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: Edwardian;
    font-size: 90px;
}
h2{
    font-family: Livvic;
    font-size: 120px;
}