@import "~bootstrap/dist/css/bootstrap.css";
@font-face {
    font-family: TheCalifornia;
    src: url('/assets/fonts/TheCalifornia.ttf');
}
body {
    background-color: lightgray;
}
.bg {
    background: url('/public/build/images/IAX10-0027.jpg' );
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: TheCalifornia;
    font-size: 90px;
}
h2{
    font-size: 120px;
}