{% extends 'base.html.twig' %}

{% block title %}Hello NinoPersonasController!
{% endblock %}

{% block body %}
	{% include 'header.html.twig' %}
	<div class="container-fluid text-center">
		<div class="row justify-content-center">
			<h1>Muchas Gracias</h1>
			<div class="card text-white bg-dark">
				<h5 class="card-header">Dónde celebramos
				</h5>
				<div class="card-body">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3075.335249564092!2d-0.29997860000000004!3d39.5745941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd603f35d6918387%3A0xb82a5bc99e3c2666!2sJardines%20La%20Hacienda!5e0!3m2!1ses!2ses!4v1700342683078!5m2!1ses!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<br/>
			<div class="card text-white bg-dark">
				<div class="card-body">
					<h5 class="card-title">Recordad: lo importante es que vengáis con ilusión, alegría y ganas de pasarlo bien. Pero si queréis hacernos un regalo aquí tenéis nuestro número de cuenta</h5>
				</div>
			</div>
			<br/>
			<div class="card text-white bg-dark">
				<h5 class="card-header">Cuenta de banco</h5>
				<div class="card-body">
					<h5 class="card-title">IBAN ES77 1465 0100 9617 4820 4664</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="d-grid gap-1">
		<button class="btn btn-dark btn-block" type="submit">Entrar</button>
	</div>
{% endblock %}
