{% extends 'base.html.twig' %}

{% block title %}Enlace cony i miguel - perfil
{% endblock %}

{% block body %}
	{% include 'header.html.twig' %}
	<div class="container-fluid text-center">

		sasad
	</div>
{% endblock %}
