{% extends 'base_videos.html.twig' %}

{% block title %}Enlace cony i miguel - perfil
{% endblock %}

{% block body %}
	{% include 'header.html.twig' %}
	<div class="container-fluid text-center">
	</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const video = document.getElementById('myVideo');
    
    // Reproducir el video
    video.play();
    
    // Detener el video después de 44 segundos
    setTimeout(function() {
        video.pause();
        window.location.href = '{{ path('app_home') }}';
    }, 44000); // 44 segundos en milisegundos
});
</script>
{% endblock %}
