{% extends 'base.html.twig' %}

{% block title %}Enlace cony i miguel - perfil{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
<div class="container-fluid text-center">
{% if is_granted('ROLE_USER')  %}
<p class="text-center texto"> Tu tienes Hij@s.</p>
<a class="btn btn-success" href="{{ path('app_ninopersonas', { 'id': user.id }) }}">Si</a>
<a class="btn btn-danger" href="">No</a>
{% endif %}
</div>
{% endblock %}