{% extends 'base.html.twig' %}

{% block title %}Edit ElegirMenu{% endblock %}

{% block body %}
    <h1>Edit ElegirMenu</h1>

    {{ include('elegir_menu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_elegirmenu_admin') }}">back to list</a>

    {{ include('elegir_menu/_delete_form.html.twig') }}
{% endblock %}
