{% block header %}
{% if app.user %}
{% if is_granted('ROLE_YES') != is_granted('ROLE_USER') %}
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid text-bg-dark">
    Ha iniciado sesión como {{ app.user.userIdentifier }}
      <form class="d-flex">
        {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-secondary" href="#">Administrador</a>{% endif %}
        <a class="btn btn-danger" href="{{ path('app_logout') }}">Cerrar sesión</a>
      </form>
      
  </div>
</nav>
{% endif %} 
{% endif %}
<div class="container-fluid text-center">
    <h1 class="text-center">¡Bienvenid@s!</h1>
    <h1 class="text-center">Cony & Miguel</h1>
    <p class="text-center fs-4">03/02/2024</p>
</div>
{% endblock %}