{% extends 'base.html.twig' %}

{% block title %}Enlace cony i miguel - Si asisto{% endblock %}

{% block body %}
<div class="container-fluid text-center">
<h1 class="text-center">¡Bienrenid@s!</h1>
<h1 class="text-center">Cony & Miguel</h1>
<p class="text-center fs-4"> 3 - 2 - 2024 </p>
{% if is_granted('ROLE_USER') %}
<form action="" method="post">
    <div class="form-group mb-3">
             <input class="form-control" type="text" name="name" id="inputEmail" class="form-control" autocomplete="name" required autofocus placeholder="Nombre">
          </div>
          <div class="form-group mb-3">
    <input class="form-control" type="text" name="" id="inputPassword" class="form-control" autocomplete="surnames" required placeholder="Apellidos">
    </div>
    <div class="form-group mb-3">
    <input class="form-control" type="phone" name="" id="inputPassword" class="form-control" autocomplete="phone" required placeholder="Movil">
    </div>
          <div class="d-grid gap-1">
           <button class="btn btn-dark btn-block" type="submit">Entrar</button>
           </div>
</form>
{% endif %}
{% endblock %}
